<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login/Register Form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">	
	<link rel="stylesheet" href="styles/login.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
	<main>
		<section class="forms-section">
			<h1 class="section-title">Login/Register Form</h1>
			<%- include('partials/messages') %>
			<div class="forms">
				<div class="form-wrapper <%= login_active%>">
					<button type="button" class="switcher switcher-login">
						Login
						<span class="underline"></span>
					</button>
					<form class="form form-login" method="post" action="/login">
						<fieldset>
							<legend>Please, enter your email and password for login.</legend>
							
							<div class="input-block">
								<label for="login-email">E-mail</label>
								<input id="login-email" name="email" type="email" required>
							</div>
							<div class="input-block">
								<label for="login-password">Password</label>
								<input id="login-password" name="password" type="password" required>
							</div>
						</fieldset>
						<button type="submit" class="btn-login">Login</button>
					</form>
				</div>
				<div class="form-wrapper <%= register_active %>">
					<button type="button" class="switcher switcher-signup">
						Sign Up
						<span class="underline"></span>
					</button>
					<form class="form form-signup" method="post" action="/register">
						<fieldset>
							<legend>Please, enter your email, password and password confirmation for sign up.</legend>
							
							<div class="input-block">
								<label for="signup-email">E-mail</label>
								<input id="signup-email" name="email" type="email" required>
							</div>
							<div class="input-block">
								<label for="signup-name">Name</label>
								<input id="signup-name" name="name" type="text" required>
							</div>
							<div class="input-block">
								<label for="signup-contact">Contact</label>
								<input id="signup-contact" name="contact" type="number" required>
							</div>
							<div class="input-block">
								<label for="signup-password">Password</label>
								<input id="signup-password" name="password" type="password" required>
							</div>
							<div class="input-block">
								<label for="signup-password-confirm">Confirm password</label>
								<input id="signup-password-confirm" name="confirm_password" type="password" required>
							</div>
						</fieldset>
						<button type="submit" class="btn-signup">Continue</button>
					</form>
				</div>
			</div>
		</section>
	</main>
	<script src="scripts/login.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>