.top{
  margin:auto ;
  display: flex;
  direction: row;
  height :57vh;
  width:70rem;
}

#container1{ 
  margin-left:6rem;
  width:45%;  
  margin-right:2rem;
}

#map{  
  margin-left:4rem; 
  margin-right: 2rem;
  width: 60%; 
}