/* .top{
  margin-left:10.5rem ;
  margin-top: 5rem;
  display: flex;
  direction: row;
  height :45vh;
  width:90rem;
  border:10px solid balck;
  margin-bottom: 2.5rem;
}

.container1{ 
  margin-left:2rem;
  width:15%;  
  margin-right:1.5rem;
}*/

#map{ 
  border:2px solid black;
} 