.login-wrapper {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 80px;
  min-height: 700px;
  color: #003170;
}



#submitBtn{
  margin-top: 1rem;
}

.primaryColor{
  color: #003170;
}
.secondaryColor{
  color: #FF765E;
}
.primaryColorBG{
  color: #003170;
  background-color: #FF765E;
  padding: 4px;
}
.secondaryColorBG{
  color: #FF765E;
  background-color: #003170;
  padding: 4px;
}

.btn{
  background-color: #FF765E;
  border: none;
  color: #003170;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  margin-top: 2em;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1empx;
}